/* src/styles/fonts.css */

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  src: url('../assets//fonts/SFProDisplay-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/SFProDisplay-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/SFProDisplay-Semibold.otf') format('truetype');
}
